/* General styles */
.about-section {
  display: flex;
  gap: 30px;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  padding: 0 15%;
  min-height: 700px;
  background-image: url("../images/bg-dark.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  color: white;
  position: relative;
}

.about-section .content {
  z-index: 2;
  text-align: left;
  background-color: transparent; /* Removed background */
}

h1 {
  font-size: 4em; /* Large font size for your name */
  margin: 0;
  font-weight: 700;
  color: #ffffff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.info-cards {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.card {
  padding: 15px;
  border-radius: 10px;
  margin: 10px 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
  background-color: transparent; /* No background */
}

.card h3 {
  font-size: 1.2em; /* Smaller font size for the content */
  color: #f1f1f1;
  margin: 0;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

/* Social icons */
.social-icons {
  display: flex;
  gap: 15px;
  margin-top: 20px;
}

.social-icons .social-icon {
  font-size: 2em;
  color: #fff;
  transition: transform 0.3s ease, color 0.3s ease;
}

.social-icons .social-icon:hover {
  transform: scale(1.2);
  color: #0a66c2; /* LinkedIn blue */
}

/* Mobile styling for smaller screens */
.mobile-social-icons {
  display: none;
}

@media (max-width: 768px) {
  h1 {
    font-size: 7vw; /* Increase font size for small screens */
    text-align: left;
  }

  .card h3 {
    font-size: 3vw; /* Adjust content font size on small screens */
  }

  .about-section {
    padding-top: 150px;
    display: block;
    padding-left: 0;
    padding-right: 0;
  }

  .content {
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 5%;
    width: 90%;
  }

  .mobile-social-icons {
    display: flex;
    flex-direction: row;
    gap: 20px;
    color: white;
  }

  .mobile-social-icons .social-icon {
    font-size: 2.5em;
  }

  .about-section .image-wrapper {
    padding-left: 5%;
    width: 100%;
    margin-bottom: 30px;
  }
}

@media (max-width: 567px) {
  h1 {
    font-size: 8vw; /* Larger title for very small screens */
  }

  .card h3 {
    font-size: 4vw; /* Larger text for mobile */
  }
}
